body {
  margin: 0;
  padding: 0;
}
header {
  width: 100%;
}
h1 {
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  color: white;
}
h1:hover{
    color: rgb(255, 0, 0);
}
marquee {
  color: red;
}
textarea {
  width: 100%;
  height: 70vh;
  font-size: 1.7rem;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}

